[submodule "W03-W04/project/wa-tor"]
	path = W03-W04/project/wa-tor
	url = https://github.com/CpHeat/wa-tor.git
[submodule "W06-W07/project/transfer-learning"]
	path = W06-W07/project/transfer-learning
	url = https://github.com/CpHeat/Transfer-Learning.git
[submodule "W08-W09/project/ai-agent-with-langchain"]
	path = W08-W09/project/ai-agent-with-langchain
	url = https://github.com/CpHeat/ai-agent-with-langchain.git
[submodule "W10/project/users-fastapi"]
	path = W10/project/users-fastapi
	url = https://github.com/CpHeat/users-fastapi.git
